.headTitle {
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: xx-large;
    font-weight: 600;
    color: white;
}

.headTitleDark {
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: xx-large;
    font-weight: 600;
}



.semiTitle {
    font-size: large;
    font-weight: 600;
}

@media (max-width: 768px) {

    .headTitleDark {
        margin-top: 10px;
        font-size: x-large;
        font-weight: 600;
    }

    .headTitle {
        margin-top: 2%;
        margin-bottom: 5%;
        font-size: x-large;
        font-weight: 600;
        color: white;
    }
    

    .semiTitle {
        font-size: small;
        font-weight: 600;
    }

}